body {
  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  font-size: 14px;
}

a {
  /*text-underline-position: under;*/
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}

.img_adaptive {
  height: auto !important;
  width: 100% !important;
}

ul {
  margin-bottom: 0;
}

.sm_menu_holder {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.sm_menu_item {
  color: black;
  font-size: 30px;
}

.ph {
  transform: rotate(100deg);
}

.logo {
  height: 100px;
  width: 100px;
}

.header_nav {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.header_top_wrapper {
  background-color: #dcdcdc;
}

.header_nav_wrapper {
  padding-top: 25px;
  padding-bottom: 30px;
  color: white;
  background-color: #777777;
}

.header_top {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_nav ul {
  white-space: nowrap;
  list-style: none;
}

.header_nav ul li {
  display: inline;
}

.header_nav ul li::after {
  content: "|";
}

.header_nav ul li:last-child::after {
  content: "";
}

.contact_block {
  line-height: 36px;
}

.contact_block a {
  font-size: 40px;
  color: #767676;
  font-family: "Open Sans Condensed", sans-serif;
}

.logo_block {
  color: #777777;
  display: flex;
  justify-content: center;
}

.logo_right {
  margin-left: 15px;
  padding-top: 10px;
}

.logo_right__title {
  font-size: 30px;
  font-weight: bolder;
}

.logo_right__subtitle {
  padding-top: 20px;
}

.contacts_button {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 11px 0px !important;
  background-color: #474747;
  border-radius: 10px;
}

.contacts_button:hover {
  background-color: #474747;
}

.contacts_button:active {
  background-color: #474747 !important;
}

.nav_sm {
  display: none;
}

.nav_desk {
  display: flex;
}

@media (max-width: 1024px) {
  .header_nav {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .nav_sm {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .nav_desk {
    display: none;
  }

  .header_nav_wrapper {
    display: none;
  }
}

.home_slider {
  height: 400px;
  width: 100%;
  position: relative;
}

.home_slider_arrow {
  background: url("/assets/img/arr.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 60px;
  z-index: 100;
}

.home_slider_arrow__container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_slider_arrow:nth-child(1) {
  transform: rotate(180deg);
}

.home_slider_arrow:hover {
  cursor: pointer;
  opacity: 0.8;
}

.home_slider__controls {
  width: 100%;
  position: absolute;
}

.slick_slider__img {
  height: 400px;
}

@media (max-width: 768px) {
  .slick_slider__img {
    height: 240px;
    background-size: cover !important;
    background-position: 33% center !important;
  }

  .home_slider {
    height: 240px;
  }

  .home_slider_arrow__container {
    height: 240px;
  }
}

.bc {
  margin-top: 10px;
  margin-bottom: 30px;
}

.bc ul {
  padding: 0;
  text-decoration: none;
}

.bc ul li {
  color: #767676;
  display: inline;
}

.bc ul li::after {
  content: "/";
}

.bc ul li:last-child::after {
  content: "";
}

.bc ul li a {
  color: #767676;
  text-decoration: underline;
}

.content_wrapper {
  padding-bottom: 200px;
}

@media (max-width: 768px) {
  .content_wrapper {
    padding-bottom: 50px;
  }
}

.left_block__big_catalog {
  padding: 0;
  list-style: none;
  color: #767676;
}

.left_block__big_catalog li a {
  color: inherit;
}

.left_block__big_catalog_submenu li a:hover {
  color: inherit;
  text-decoration: underline;
}

.cat_active {
  text-decoration: underline;
}

.left_block__big_catalog_submenu {
  list-style: disc;
}

.left_block__big_catalog_submenu a {
  color: inherit;
}

.left_block__big_catalog_submenu a:hover {
  color: black !important;
  text-decoration: underline;
}

.left_block__big_catalog_submenu .active {
  color: black;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .left_block {
    display: none;
  }
}

.center_block__bottom_text {
  color: #767676;
}

.grey_line {
  border-bottom: 1px solid #777777;
  margin-bottom: 30px;
}

.pg_wrapper {
  padding-top: 30px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}

.pagination ul {
  padding: 0;
  list-style: none;
}

.pagination ul li {
  padding: 0px 6px;
  display: inline;
}

.pagination ul li:hover {
  cursor: pointer;
  font-size: 18px;
}

.pg_active {
  font-size: 18px !important;
}

.prod_card {
  margin-bottom: 20px;
  background-color: #dcdcdc;
  padding: 20px 25px 20px 25px;
}

.prod_card__price_block {
  display: flex;
  justify-content: space-between;
}

.prod_card__inbox {
  width: 28px;
  height: 28px;
  background: url("/assets/img/icons/addtobasket_mini.png");
  background-repeat: no-repeat;
  align-self: flex-end;
}

.prod_card__inbox:hover {
  cursor: pointer;
  opacity: 0.8;
}

.prod_card__price {
  font-size: 24px;
  font-weight: bold;
}

.prod_card__desc {
  padding-top: 20px;
  padding-bottom: 60px;
  color: #7d7d7d;
  font-size: 18px;
}

.mt_35 {
  margin-top: 0;
}

@media (max-width: 768px) {
  .pg_wrapper {
    padding-bottom: 20px;
  }

  .mt_35 {
    margin-top: 35px;
  }
}

.footer_wrapper {
  /*position: fixed;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  color: white;
  background-color: #767676;
}

.footer {
  justify-content: space-between;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts_nav ul li a {
  text-decoration: underline;
}

.contacts_nav ul {
  list-style: none;
}

.contacts_right__desc a {
  text-decoration: underline;
}

.contacts_right__icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: url("/assets/img/icons/company.png");
  background-repeat: no-repeat;
}

.contacts_right {
  display: flex;
}

.contacts_right__desc {
  margin-top: -5px;
}

.footer__contacts_button {
  max-width: 240px;
  display: none;
  margin-bottom: 50px !important;
}

.footer__logo_block {
  display: none;
  color: white !important;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer__contacts_nav {
    display: none;
  }

  .contacts_right {
    padding-top: 55px;
  }

  .footer__contacts_button {
    display: block;
  }

  .footer__logo_block {
    display: flex;
  }

  .contacts_mail {
    max-width: 200px;
    text-align: center;
  }

  .logo_block .logo_right {
    line-height: 17px;
    padding-top: 0px;
  }

  .logo_block .logo_right .logo_right__title {
    font-size: 16px;
  }

  .logo_block .logo_right .logo_right__subtitle {
    padding-top: 0;
    font-size: 9px;
  }

  .logo_block .logo {
    width: 55px;
    height: 55px;
  }
}

.fb_modal__invalid {
  font-style: italic;
  font-size: 14px;
  margin-top: -1px;
  text-align: left;
  position: absolute;
  max-width: 100%;
}

.grey_form_input {
  margin-top: 2px;
  border-radius: 0px;
  padding: 8px 12px !important;
}

.fb_modal__wrapper {
  border-radius: 0px;
}

.fb_modal__title {
  color: #535353;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.fb_modal {
  background: white;
  padding: 10px 55px 30px 55px;
}

.greybutton {
  border: none;
  border-radius: 0px !important;
  font: inherit;
  max-width: 115px;
  text-transform: uppercase;
  background: #777777;
  color: white !important;
  font-weight: bold;
  font-size: 17px;
  padding: 13px;
  margin-top: 20px;
}

.greybutton:hover {
  background-color: #777777;
}

.greybutton:active {
  background-color: #777777 !important;
}

.fb_form textarea {
  min-height: 140px;
  resize: none;
}

.fb_form {
  color: #535353;
  font-weight: bold;
}

.fb_form__controll {
  margin-top: 5px;
  min-height: 42px;
  resize: none;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: #c3c3c3;
  position: relative;
}

.fb_modal__close {
  margin-left: auto;
  color: white;
  width: 27px;
  height: 27px;
  background-color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb_modal__close:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form-control.is-invalid,
.was-validated .grey_form_input:invalid {
  border-style: solid;
  border-width: 1px;
  border-color: #ff8383;
  background-color: white;
  box-shadow: inset 0px 0px 13px 0px rgba(228, 106, 106, 0.75);
}

@media (max-width: 1024px) {
  .fb_modal {
    padding: 10px 16px 30px 16px;
  }
}

.small_nav_menu ul {
  padding: 0;
  margin-bottom: 85px;
}

.small_nav_menu ul li {
  padding-bottom: 12px;
}

.small_nav_menu ul li a {
  color: black !important;
  text-decoration: none;
  font-size: 30px;
}

.small_nav_menu ul li a:hover {
  text-decoration: underline;
}

.small_nav_active {
  text-decoration: underline !important;
}

.small_nav_mh {
  border: none !important;
}

