<template>
    <div class="guest_wrapper mb-5">
        <div class="container">
            <div class="guestbook">
                <h2 class="text-center mb-5">Гостевая книга</h2>
                <!--ALL_REVIEWS-->
                <div class="review_container">
                    <div class="review_wrapper mb-4" v-for="item in Reviews">
                        <div class="media review_block card" :id="'review'+item.id">
                            <h5 class="card-header w-100"><samp><h3 class="mt-0 text-break"><b>#{{item.id}} {{item.title}}</b></h3></samp></h5>
                            <div class="card-body w-100">
                                <div class="d-flex justify-content-between flex_chat_adaptive">
                                    <div class="guestbook_nick_container">
                                        <img v-if="item.avatar" class="mr-3 guestbook__avatar img-thumbnail" :src="'/assets/img/avatars/'+item.avatar" alt="Generic placeholder image">
                                        <img v-if="!item.avatar" class="mr-3 guestbook__avatar img-thumbnail" src="/assets/img/nophoto.png" alt="Generic placeholder image">
                                        <div>
                                            <span class="badge badge-primary guestbook_nick">{{item['owner'].name}}</span>
                                            <br>
                                            <div class="dropdown-divider"></div>
                                            <i class="fas fa-robot"></i> <span class="">{{item['owner']['roles'][0]['role']}}</span><br>
                                        </div>
                                    </div>
                                    <div class="media-body pb-5">
                                        <p class="html_vue_viewer text-break" v-html='item.text'></p>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="d-flex justify-content-between align-self-end">
                                    <span class="guestbook_time">{{item.created_at}}</span>
                                    <div>
                                        <button class="btn btn-link btn-sm" :disabled="commDisabled"><i class="fa-comments far" v-on:click="postReview(item.id)"></i> {{typeof item.comments !== "undefined"?Object.keys(item.comments).length:"0"}}</button>
                                        <button class="btn btn-link btn-sm" :disabled="likeDisabled"><i class="fa-thumbs-up far" v-on:click="changeLike(item.id)"></i> {{item['likes'].length}}</button>
                                        <button v-if="userRole=='admin' || userDataParsed.id == item.user_id" class="btn text-danger btn-link btn-sm" v-on:click="deleteReview(item.id)"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Comments-->
                        <div class="comments_wrapper mt-4"  v-for="comment in item.comments">
                            <div class="ml-5 mb-4 card" :id="'comment_animated'+comment.comment_id">
                                <div class="card-body w-100 bg-light">
                                    <div class="d-flex justify-content-between flex_chat_adaptive">
                                        <div class="guestbook_nick_container">
                                            <img v-if="comment.avatar" class="mr-3 comments__avatar img-thumbnail" :src="'/assets/img/avatars/'+comment.avatar" alt="Generic placeholder image">
                                            <img v-if="!comment.avatar" class="mr-3 comments__avatar img-thumbnail" src="/assets/img/nophoto.png" alt="Generic placeholder image">
                                            <div>
                                                <span class="mt-2 badge comments_nick">{{comment['owner'].name}}</span>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="media-body mt-2">
                                            <p class="text-break" v-html='comment.text'></p>
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-between align-self-end">
                                        <span class="guestbook_time">{{item.created_at}}</span>
                                        <div>
                                            <button v-if="userRole=='admin' || userDataParsed.id == comment.user_id" class="btn text-danger btn-link btn-sm" v-on:click="deleteComment(comment.id)"><i class="far fa-trash-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--ADD COMMENT-->
                        <div v-if="userRole=='admin' || userDataParsed.id == item.user_id" class="review_container">
                            <div class="media review_block ml-5 mt-4 card mb-4">
                                <div class="card-body w-100 bg-light">
                                    <div class="d-flex justify-content-between flex_chat_adaptive mb-2">
                                        <div class="guestbook_nick_container  mb-2">
                                            <img v-if="userDataParsed.avatar" class="mr-3 comments__avatar img-thumbnail" :src="'/assets/img/avatars/'+userDataParsed.avatar" alt="Generic placeholder image">
                                            <img v-if="!userDataParsed.avatar" class="mr-3 comments__avatar img-thumbnail" src="/assets/img/nophoto.png" alt="Generic placeholder image">
                                            <div>
                                                <span class="mt-2 badge comments_nick">{{userDataParsed.name}}</span>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <form class=""  @submit.prevent="addComment(item.id)" :name="'commentForm'+item.id">
                                                <div class="form-row mb-3">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <!--<label for="ta">Комментарий</label>-->
                                                            <textarea class="form-control" id="ta" rows="3" name="text"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end align-self-end">
                                                    <button class="btn btn-primary" v-bind:disabled="chatLoading" type="submit" v-on:submit="addComment(item.id)">
                                                        <span v-if="chatLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                        Комментировать
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--ADD REVIEW-->
                <div v-if="userRole" class="review_container">
                    <h3>Оставить отзыв:</h3>
                    <div class="media review_block card mb-4">
                        <div class="card-body w-100">
                            <div class="d-flex justify-content-between flex_chat_adaptive">
                                <div class="guestbook_nick_container">
                                    <img v-if="userDataParsed.avatar" class="mr-3 guestbook__avatar img-thumbnail" :src="'/assets/img/avatars/'+userDataParsed.avatar" alt="Generic placeholder image">
                                    <img v-if="!userDataParsed.avatar" class="mr-3 guestbook__avatar img-thumbnail" src="/assets/img/nophoto.png" alt="Generic placeholder image">
                                    <div>
                                        <span class="badge badge-primary guestbook_nick">{{userDataParsed.name}}</span>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <form class=""  @submit.prevent="postReview()" name="reviewForm">
                                        <div class="form-row mb-3">
                                            <div class="col-md-4 mb-3">
                                                <h5 class="mt-0">
                                                    <input name="title"
                                                           type="text"
                                                           class="form-control mb-2"
                                                           placeholder="Заголовок"
                                                           value="">
                                                </h5>
                                            </div>
                                            <div class="col-md-12">
                                                <ckeditor v-model="editorData" :config="editorConfig"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end align-self-end">
                                            <button class="btn btn-primary" v-bind:disabled="chatLoading" data-toggle="modal" data-target="#staticBackdrop" type="submit" v-on:submit="postReview()">
                                                <span v-if="chatLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                Отправить
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--NOT AUTH-->
                <div v-if="!userRole">
                    <a class="badge badge-pill badge-primary"
                       href="/register">Зарегистрируйтесь</a>
                    или <a class="badge badge-pill badge-primary"
                           href="/login">войдите</a>
                    чтобы оставить отзыв
                </div>
            </div>
        </div>
    </div>

</template>

<style scoped>
    .btn-link:hover {
        text-decoration: none;
    }
    .btn-link:focus {
        text-decoration: none;
    }
    .guestbook__avatar {
        max-width: 106px;
        max-height: 106px;
        margin-bottom: 10px;
    }
    .guestbook_nick_container {
        max-width: 122px;
        padding-right: 15px;
    }
    .guestbook_nick {
        max-width: 106px;
        word-wrap: break-word;
        white-space: pre-line;
    }
    .delete_review {
        height: max-content;
    }
    .guestbook_nick {
        font-size: 16px;
    }
    .guestbook_time {
        font-size: 10px;
        max-width: 100px;
        white-space: pre-wrap;
        word-break: break-word;
    }
    .comments__avatar {
        max-width: 64px;
        max-height: 64px;
    }
    .comments_nick {
        font-size: 12px;
    }
    .close {
        cursor: pointer;
    }

    .flex_chat_adaptive{
        flex-direction: row;
    }
    @media (max-width: 480px) {
        .flex_chat_adaptive{
            flex-direction: column;
        }
        .guestbook_nick_container {
            display: flex;
        }
    }

</style>

<script>

    var userData = $('#user_data').attr('user-data');
    var userRole = "";
    var userId = "";
    var userDataParsed;



    import Vue from 'vue';
    import CKEditor from 'ckeditor4-vue';

    Vue.use( CKEditor );

    export default {
        mounted() {
        },
        methods: {
            getReviews: function () {
                userData = $('#user_data').attr('user-data');
                userDataParsed = JSON.parse(userData);
                if(userDataParsed!==undefined && userDataParsed!==""){
                    userRole = userDataParsed.role==undefined?"":userDataParsed.role;
                    userId = userDataParsed.id==undefined?"":userDataParsed.id;
                    this.userDataParsed = userDataParsed;
                    this.userRole = userRole;
                    this.likeDisabled = false;
                    this.commDisabled = false;
                }

                axios.get('/api/reviews/'+userId , {
                })
                    .then((response) => {
                        this.Reviews = response.data.reviews;
                    })
            },
            postReview: function ()  {
                let formData = new FormData(document.forms.namedItem("reviewForm"));
                formData.append('user_id',userDataParsed['id']);
                formData.append('text',this.editorData);
                this.chatLoading =  true;
                axios.post('/api/add_review', formData , {})
                    .then((response) => {
                        this.getReviews();
                        this.chatLoading =  false;
                    });
            },
            deleteReview: function (review_id)  {
                this.chatLoading =  true;
                // const element =  '#review'+review_id;
                // animateCSS(element, 'slideOutRight');
                axios.get('/api/delete_review/'+review_id, {})
                    .then((response) => {
                        this.getReviews();
                        this.chatLoading =  false;
                    });
            },
            changeLike: function (review_id)  {
                this.likeDisabled = true;
                var formData = new FormData();
                formData.append('user_id',userDataParsed['id']);
                formData.append('review_id',review_id);
                axios.post('/api/change_like', formData , {})
                    .then((response) => {
                        this.getReviews();
                        this.likeDisabled = false;
                    });
            },
            addComment: function (review_id)  {
                this.commDisabled = true;
                var formData = new FormData(document.forms.namedItem("commentForm"+review_id));
                formData.append('user_id',userDataParsed['id']);
                formData.append('review_id',review_id);
                axios.post('/api/add_comment', formData , {})
                    .then((response) => {
                        this.getReviews();
                        this.commDisabled = false;
                    });
            },
            deleteComment: function (comment_id)  {
                this.chatLoading =  true;
                // const element =  '#comment_animated'+comment_id;
                // animateCSS(element, 'slideOutRight');
                axios.get('/api/delete_comment/'+comment_id, {})
                    .then((response) => {

                        this.getReviews();
                        this.chatLoading =  false;
                    });

            },

        },
        created () {
            this.getReviews();

        },
        data() {
            return {
                chatLoading: false,
                Reviews: [],
                userData: userData,
                userRole: userRole,
                userId: userId,
                likeDisabled: true,
                commDisabled: true,
                userDataParsed: [],
                editorData: '<p>Текст отзыва.</p>',
                editorConfig: {
                    // The configuration of the editor.
                }
            }
        },
    }
</script>
