//all
.bc {
  margin-top: 10px;
  margin-bottom: 30px;
}
.bc ul {
  padding: 0;
  text-decoration: none;
}
.bc ul li {
  color: #767676;
  display: inline;
}
.bc ul li::after{
  content: "/";
}
.bc ul li:last-child::after{
  content: "";
}
.bc ul li a {
  color: #767676;
  text-decoration: underline;
}
.content_wrapper {
  padding-bottom: 200px;
}

@media (max-width: 768px) {
  .content_wrapper {
    padding-bottom: 50px;
  }
}
//left
 .left_block__big_catalog {
   padding: 0;
   list-style: none;
   color: #767676;
 }
.left_block__big_catalog li  a {
  color: inherit;
}
.left_block__big_catalog_submenu li a:hover{
  color: inherit;
  text-decoration: underline;
}
.cat_active{
  text-decoration: underline;
}
.left_block__big_catalog_submenu {
  list-style: disc;
}
.left_block__big_catalog_submenu a{
  color: inherit;
}
.left_block__big_catalog_submenu a:hover{
  color: black!important;
  text-decoration: underline;
}
.left_block__big_catalog_submenu .active {
  color: black;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .left_block {
    display: none;
  }
}
//center

 .center_block__bottom_text {
   color: #767676;
 }
.grey_line {
  border-bottom: 1px solid #777777;
  margin-bottom: 30px;
}
.pg_wrapper {
  padding-top: 30px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}
.pagination ul {
  padding: 0;
  list-style: none;
}
.pagination ul li {
  padding: 0px 6px;
  display: inline;
}
.pagination ul li:hover{
  cursor: pointer;
  font-size: 18px;
}
.pg_active {
  font-size: 18px!important;
}
.prod_card {
  margin-bottom: 20px;
  background-color: #dcdcdc;
  padding: 20px 25px 20px 25px;
}
.prod_card__price_block {
  display: flex;
  justify-content: space-between;
}
.prod_card__inbox {
  width: 28px;
  height: 28px;
  background: url("/assets/img/icons/addtobasket_mini.png");
  background-repeat: no-repeat;
  align-self: flex-end;
}
.prod_card__inbox:hover{
  cursor: pointer;
  opacity: .8;
}
.prod_card__img {

}
.prod_card__price {
  font-size: 24px;
  font-weight: bold;
}
.prod_card__desc  {
  padding-top: 20px;
  padding-bottom: 60px;
  color: #7d7d7d;
  font-size: 18px;
}
.mt_35 {
  margin-top: 0;
}
@media (max-width: 768px) {
  .pg_wrapper {
    padding-bottom: 20px;
  }
  .mt_35 {
    margin-top: 35px;
  }
}