.footer_wrapper {
  /*position: fixed;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  color: white;
  background-color: #767676;
}
.footer {
  justify-content: space-between;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contacts_nav ul li a {
  text-decoration: underline;
}
.contacts_nav ul {
  list-style: none;
}
.contacts_right__desc  a {
  text-decoration: underline;
}
.contacts_right__icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: url("/assets/img/icons/company.png");
  background-repeat: no-repeat;
}
.contacts_right {
  display: flex;
}
.contacts_right__desc {
  margin-top: -5px;
}
.footer__contacts_button {
  max-width: 240px;
  display: none;
  margin-bottom: 50px!important;
}
.footer__logo_block {
  display: none;
  color: white!important;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts_nav {
    display: none;
  }
  .contacts_right {
    padding-top: 55px;
  }
  .footer__contacts_button {
    display: block;
  }
  .footer__logo_block {
    display: flex;
  }
  .contacts_mail {
    max-width: 200px;
    text-align: center;
  }
  .logo_block .logo_right{
    line-height: 17px;
    padding-top: 0px;
  }
  .logo_block .logo_right .logo_right__title {
    font-size: 16px;
  }
  .logo_block .logo_right .logo_right__subtitle {
    padding-top: 0;
    font-size: 9px;
  }
  .logo_block .logo {
    width: 55px;
    height: 55px;
  }
}