.header {
}
.sm_menu_holder {
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.sm_menu_item {
  color: black;
  font-size: 30px;
}
.ph {
  transform: rotate(100deg);
}
.logo {
  height: 100px;
  width: 100px;
}
.header_nav {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.header_top_wrapper {
  background-color: #dcdcdc;
}
.header_nav_wrapper {
  padding-top: 25px;
  padding-bottom: 30px;
  color: white;
  background-color: #777777;
}
.header_top {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_nav ul {
  white-space: nowrap;
  list-style: none;
}
.header_nav ul li {
  display: inline;
}
.header_nav ul li::after{
  content: "|";
}
.header_nav ul li:last-child::after{
  content: "";
}
.contact_block {
  line-height: 36px;
}
.contact_block a{
  font-size: 40px;
  color: #767676;
  font-family: 'Open Sans Condensed', sans-serif;
}
.logo_block {
  color: #777777;
  display: flex;
  justify-content: center;
}
.logo_right {
  margin-left: 15px;
  padding-top: 10px;
}
.logo_right__title {
  font-size: 30px;
  font-weight: bolder;
}
.logo_right__subtitle {
  padding-top: 20px;
}
.contacts_button {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 11px 0px!important;
  background-color: #474747;
  border-radius: 10px;
}
.contacts_button:hover {
  background-color: #474747;
}
.contacts_button:active {
  background-color: #474747!important;
}
.nav_sm {
  display: none;
}
.nav_desk {
  display: flex;
}
@media (max-width: 1024px) {
  .header_nav {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .nav_sm {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .nav_desk {
    display: none;
  }
  .header_nav_wrapper {
    display: none;
  }
}