body {
  font-family: 'PT Sans', sans-serif;
  line-height: 22px;
  font-size: 14px;
}
a {
  /*text-underline-position: under;*/
  color: white;
}
a:hover {
  color: white;
  text-decoration: underline;
}
a:active {
  color: white;
  text-decoration: underline;
}
.img_adaptive {
  height: auto!important;
  width: 100%!important;
}
ul {
  margin-bottom: 0;
}