.home_slider {
  height: 400px;
  width: 100%;
  position: relative;
}
.home_slider_arrow {
  background: url("/assets/img/arr.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 60px;
  z-index: 100;
}
.home_slider_arrow__container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.home_slider_arrow:nth-child(1){
  transform: rotate(180deg);
}
.home_slider_arrow:hover{
  cursor: pointer;
  opacity: .8;
}
.home_slider__controls {
  width: 100%;
  position: absolute;
}

.slick_slider__img {
  height: 400px;
}

@media (max-width: 768px) {
  .slick_slider__img {
    height: 240px;
    background-size: cover!important;
    background-position: 33% center!important;
  }
  .home_slider {
    height: 240px;
  }
  .home_slider_arrow__container {
    height: 240px;

  }
}