.fb_modal__invalid {
  font-style: italic;
  font-size: 14px;
  margin-top: -1px;
  text-align: left;
  position: absolute;
  max-width: 100%;
}
.grey_form_input {
  margin-top: 2px;
  border-radius: 0px;
  padding: 8px 12px!important;
}
.fb_modal__wrapper {
  border-radius: 0px;
}
.fb_modal__title {
  color: #535353;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.fb_modal {
  background: white;
  padding: 10px 55px 30px 55px;
}
.greybutton {
  border: none;
  border-radius: 0px!important;
  font: inherit;
  max-width: 115px;
  text-transform: uppercase;
  background: #777777;
  color: white!important;
  font-weight: bold;
  font-size: 17px;
  padding: 13px;
  margin-top: 20px;
}
.greybutton:hover {
  background-color: #777777;
}
.greybutton:active {
  background-color: #777777!important;
}
.fb_form textarea {
  min-height: 140px;
  resize: none;
}
.fb_form {
  color: #535353;
  font-weight: bold;
}
.fb_form__controll {
  margin-top: 5px;
  min-height: 42px;
  resize: none;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: #c3c3c3;
  position: relative;
}
.fb_modal__close {
  margin-left: auto;
  color: white;
  width: 27px;
  height: 27px;
  background-color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fb_modal__close:hover {
  cursor: pointer;
  opacity: .8;
}
.form-control.is-invalid, .was-validated .grey_form_input:invalid {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 131, 131);
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 13px 0px rgba(228, 106, 106, 0.75);
}
@media (max-width: 1024px) {
  .fb_modal {
    padding: 10px 16px 30px 16px;
  }
}