.small_nav_menu ul {
  padding: 0;
  margin-bottom: 85px;
}
.small_nav_menu ul li{
  padding-bottom: 12px;
}
.small_nav_menu ul li a{
  color: black!important;
  text-decoration: none;
  font-size: 30px;
}
.small_nav_menu ul li a:hover{
  text-decoration: underline;
}
.small_nav_active {
  text-decoration: underline!important;
}
.small_nav_mh {
  border: none!important;
}